/* FLOATING LABELS */
.form-inline-group {
    position: relative;
}

.form-inline-group > input,
.form-inline-group > textarea,
.form-inline-group > select,
.form-inline-group > label {
    height: 3.125rem;
    padding: .75rem;
}

@media (min-width: 1024px) {
    .form-inline-group > input,
    .form-inline-group > textarea,
    .form-inline-group > select,
    .form-inline-group > label {
        max-width: 50%;
        display: inline-block;
        margin-right: 0.5rem;
    }
}

@media (min-width: 1024px) {
    .form-inline-group {
        display: flex;
    }
}

.form-inline-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    color: #777;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-inline-group input::placeholder,
.form-inline-group select[data-chosen=''],
.form-inline-group textarea::placeholder{
    color: transparent;
}

.form-inline-group select[data-chosen=''] > option {
    color: black;
}

.form-inline-group input:not(:placeholder-shown),
.form-inline-group select:not([data-chosen='']),
.form-inline-group textarea:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-inline-group input:not(:placeholder-shown) ~ label,
.form-inline-group select:not([data-chosen='']) ~ label,
.form-inline-group textarea:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-inline-group .invalid-feedback,
.form-inline-group .valid-feedback {
    display: block;
}

.form-inline-group .invalid-feedback {
    @apply text-red-600 bg-red-200;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;

    height: 24px;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Large (lg) */
@media (min-width: 1024px) {
    .form-inline-group .invalid-feedback {
        height: 50px;
        display: inline-flex;
        margin-top: 0;

        margin-left: 0.5rem;
        width: 50%;
    }
}
